.container-search #link {
    display: none;
}

.container-search input {
    width: 100%;
    padding: 15px 15px;
    margin: 30px 0;
    border-radius: 5px;
    background-color: #1e1e29;
    color: white;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}